[submodule "roles/rvm_io.ruby"]
	path = roles/rvm_io.ruby
	url = https://github.com/rvm/rvm1-ansible.git
[submodule "roles/bareos"]
	path = roles/bareos
	url = git@github.com:halida/ansible-bareos.git
[submodule "roles/zabbix-server"]
	path = roles/zabbix-server
	url = https://github.com/dj-wasabi/ansible-zabbix-server.git
[submodule "roles/zabbix-agent"]
	path = roles/zabbix-agent
	url = https://github.com/dj-wasabi/ansible-zabbix-agent.git
[submodule "roles/geerlingguy.apache"]
	path = roles/geerlingguy.apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
