---
apps:
  haterslist1:
    name: haterslist
    hostname: haterslist.dev
    app_path: '/home/production/apps/haterslist'
    config_path: '~/data/workspace/arch/haterslist_conf/app1/haterslist1/'
    ruby: 'ruby-2.3.3'

dbs:
  db1:
    mysql_root_password: password
    databases:
      - haterslist
    users:
      - name: haterslist
        password: haterslist
        priv: 'haterslist.*:ALL'
  